@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Quicksand', Arial;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background: #fff; 

}
   
::-webkit-scrollbar-thumb {
    background: #b0b0b0; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 84, 84)0b0; 
}